body{
    font-family: Roboto;
    font-style: normal;
}

h1,h2,h3,h4,h5{
    color: #1C0764;
}

.search-form__submit-bttn input[type="submit"]{/* button .search-form__submit-bttn */
    background: #1C0764;
    color: #04E7BE;
    padding-top: 8px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
}

/*                                                  users                                             */

/* Css from index.php */

#home {
    margin-top: -24px;
}

.background-index{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

.search-form__form-container{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.results__item-container{
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 5px;
}


.results__item{
    padding: 15px;
    font-size: 14px;
}

.results__item li{
    margin-left: 20px;
}

.results__item-puntosDe{
    color: #1C0764;
    margin-top: 9px;
    margin-bottom: 9px;
}


/* Css from index.php end */

/* Css from menu.php */

.navbar-brand {
    font-size: 18px !important;
    font-weight: bold;
}

.menu {
    box-shadow: 0 0 10px rgb(0 0 0 / 60%);
    margin-bottom: 24px;
    padding: 16px 0;
}

.menu__logo{
    width: 71px;
    height: 71px;
    margin-right: 8px;
}

.menu__container a{
    color: #1C0764;
}

/* Css from menu.php end */


/* Css from empresa.php */

.empresa-elements-container-text{
    font-size: 14px;
}

.empresa-elements-container-text li{
    margin-left: 20px;
}

.card-text{
    color: #1C0764;
    margin-top: 9px;
    margin-bottom: 9px;
}

.card{
    margin: 10px;
}

.empresa-elements-costo{
    font-weight: bold;
}


.container-carousel img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.carousel-item-text{
    position: absolute;
    background: #1d076496;
    width: 100%;
    height: 100%;
    z-index: 1000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item-text span{
    width: 70%;
}

.carousel-item-text p{
    font-size: 18px;
    text-align: center;
}


.carousel-item-text h3{
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
    font-size: 22px;
}


/* Css from empresa.php end */


/* Css from empresas.php  */

.btn_ver_empresa a{
    background-color: #1C0764;
    color: #04E7BE;
    padding-top: 8px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
}

.container_table_empresas{
    padding: 12px;
    margin: 60px;
    margin-left: 120px;
    margin-right: 120px;
    background-color: #ffffff;
    border-radius: 10px;
}

.container_table_empresas thead{
    color: #1C0764;
}


/* Css from empresas.php end */


/* Css from opiniones.php */

.form-opinion{
    color: #1C0764;
}

.form-opinion input{
    background-color: #CACACA;
}

.form-opinion textarea{
    background-color: #CACACA;
}

.form-opinion select{
    background-color: #CACACA;
}


/* Css from opiniones.php end */




/*                                                  users end                                             */



/*                                                  admin                                             */


/* Css from index.php end */

.login-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#CACACA;
    font-size: 12px;
    color: #ffffff;
}

.login__title{
    color: #04E7BE;
}

.login__body-col{
    background: #1d0764;
    padding: 40px;
    border-radius: 15px;
}

.go-back a{
    color: #04e7bdc7;
    text-decoration: none;
}
.go-back a:hover{
    color: #a8a1a1;
}

/* Css from index.php end */


/* Css from sidebar.php end */

.sidebar__logo-container img{
    width: 71px;
    height: 71px;
    display: inline;
}

.sidebar__logo-container h5{
    display: inline;
    margin: 5px;
    color: white;
}


.sidebar__logo-container h5{
    display: inline;
    margin: 5px;
    color: white;
}


/* Css from sidebar.php end */


/* Css from crear-usuario.php */

.form-create_user input{
    margin: 5px;
    margin-left: 0px;
    margin-top: 8px;
    background-color: #CACACA;
}

.form-create_user select{
    margin: 5px;
    margin-left: 0px;
    margin-top: 8px;
    background-color: #CACACA;
}

.form-create_user textarea{
    margin: 5px;
    margin-left: 0px;
    margin-top: 8px;
    background-color: #CACACA;
}

/* Css from crear-usuario.php end */



/* Css from comentarios.php end */

.coment_User_item{
    margin: 12px;
}

.coment_User_item strong{
    color: #1d0764;
}

.coment_User_Delete{
    margin: 10px;
    margin-bottom: 0px;
    color: #1d0764;
    text-decoration: none;
    text-align: end;
    position: absolute;
    top: 0;
    right: 8px;
}

.coment_User_Delete:hover{
    color: #1d0764;
}

.coment_User_Delete p{
    padding-top: 10px;
    margin-left: 1px;
    display: inline;
}

/* Css from comentarios.php end */



.admin_background{ /* admin_background for alls */
    position: fixed;
    background: #DBDBDB;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
}

.admin_form_container{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*                                                  admin end                        */